.sheet {
  width: 21cm;
  height: 29.7cm;
  background-color: white;
  margin: 0 auto;
  padding: 0.2cm;
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  margin: 0px;
  font-size: 18px;
}

.wrapper {
  background-image: url("../public/redbuild.jpg");
  background-size: cover;
}

.head {
  display: flex;
  padding-left: 7em;
}

.title {
  line-height: 5px;
  padding-left: 10px;
  text-align: center;
}

.title h1 {
  color: green;
}

.title h4 {
  color: red;
}

.typeBill,
.address {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 5px;
  padding-top: 10px;
  justify-content: space-between;
}

#poNum,
#gstin,
#date,
#billNum {
  width: 170px;
}

/* input:hover {
    border: 1px solid black;
    border-radius: 4px;
  } */

textarea,
input {
  width: 90%;
  border: none;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

input[name="item"] {
  width: 99%;
  font-weight: 600;
}

input[name="total"] {
  width: 97%;
}

input[name="serailNum"],
input[name="quantity"],
input[name="rate"],
input[name="gstRate"],
input[name="cgstRate"] {
  text-align: center;
}

#date {
  font-size: 18px;
}

#toAddress {
  width: 100%;
}

.toDiv {
  padding: 5px 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
td,
th {
  border: 1px solid;
}

.item-number {
  width: 5.5%;
}
.quantity {
  width: 10%;
  text-align: center;
}
.hsnCode,
.rate {
  width: 12%;
  text-align: center;
}
.total {
  width: 13.5%;
  text-align: center;
}

tfoot {
  height: 120px;
}

.byName {
  /* padding-top: 80px;
    padding-right: 10px; */
  float: right;
  padding-right: 10px;
}

.bySign {
  display: flex;
  justify-content: space-between;
}

.condionDiv {
  float: left;
}

/* .item1{
    font-weight: 500;
  } */

.grand-total {
  font-weight: bold;
  text-align: center;
}

/* newly added */
td[class="gst"] {
  text-align: center;
  font-weight: bold;
}

input[name="gstRate"],
input[name="cgstRate"] {
  font-weight: bold;
}
